<div class="row">
  {{#each results}}
    <div class="result span6">
      <h3>{{title}}</h3>
      <div class="average">{{average}}%</div>
      {{#if high}}
        <div class="range">{{low}} – {{high}}</div>
      {{/if}}
      <img src="{{chart}}" class="chart-image" alt="{{average}}">
    </div>
  {{/each}}
</div>
