<div class="row">
  {{#each results}}
    <div class="result span6 {{#if is_winner}}winner{{/if}}">
      <h3>{{title}}</h3>
      <div class="average">{{average}}%</div>
      <div class="range">
        {{#if high}}
          {{low}} – {{high}}
        {{else}}
          {{winner}} is better
        {{/if}}
      </div>
      <img src="{{chart}}" class="chart-image" alt="{{average}}">
    </div>
  {{/each}}
</div>
